---
layout: base.njk
---

<section class="service-detail-section">
    <div class="container">
        <div class="service-detail-header" data-aos="fade-up">
            <h1>{{ kategoriis_dasaxeleba }}</h1>
        </div>
        <div class="service-detail-content" data-aos="fade-up" data-aos-delay="100">
            {{ content | safe }}
        </div>
    </div>
</section>